[core]
	excludesfile = ~/.gitignore
	editor = /usr/bin/vim
[user]
	name = Steven Schobert
	email = spschobert@gmail.com
	signingkey = 8B8C39DD
[credential]
	helper = store
[diff]
	tool = bbdiff
[difftool "bbdiff"]
	cmd = bbdiff --wait --resume \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[merge]
	tool = bbdiff
[mergetool "bbdiff"]
	cmd = bbdiff --wait --resume \"$LOCAL\" \"$REMOTE\"
[commit]
	gpgsign = true
