[core]
	excludesfile = ~/.gitignore
	editor = /usr/bin/vim
[user]
	name = Steven Schobert
	email = spschobert@gmail.com
	signingkey = 8B8C39DD
[credential]
	helper = store
[difftool "bbdiff"]
	cmd = bbdiff --wait --resume \"$LOCAL\" \"$REMOTE\"
[mergetool "bbdiff"]
	cmd = bbdiff --wait --resume \"$LOCAL\" \"$REMOTE\"
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[diff]
	submodule = log
