# Dotfiles bare repo
# (prevent recursion)
.dotfiles

# OS Cruft
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# direnv
.envrc

# Rails
config/database.yml

# Go
revive.toml

# Bundler
.bundle
vendor/bundle
vendor/bin

# Asdf
.tool-versions
.tool-versions-e

# App-Specific
.env
.powenv
.rbenv-version
db/*.sqlite3
log/*.log
tmp/**/*

# Secure stuff
.zsh/auth.zsh

# Ctags
tags

# EditorConfig
.editorconfig

# Emacs
*~
.dir-locals.el
