"*":
  core:
    telemetryConsent: "no"
  editor:
    fontSize: 12
  "exception-reporting":
    userId: "424d8951-d72d-4084-ad4e-00c911987c60"
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
