packages: [
  "busy-signal"
  "dash"
  "dracula-theme"
  "file-icons"
  "highlight-selected"
  "intentions"
  "linter-eslint"
  "linter-tslint"
  "linter-ui-default"
  "linter"
  "lucario"
  "package-sync"
  "project-plus"
  "sort-lines"
  "tree-view-extended"
]
